*{
    margin:0px;
    padding:0px;
}
img{border:0px}
html{
    width:100%;
    height:100%
}
body{
    width:919px;
    height: 100%;
    margin:0 auto;
    /*background-color: #eaebeb;*/
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
}
.float{float:left}

.container{
    width: 919px !important;
    padding-bottom: 80px;
    min-height: 100%;
    display: inline-block;
    background-color: #99FFCC !important;
    position: relative;
    clear: both;
}

#header{
    display:block;
    float:left;
}
.topnav{
    width:534px;
    float:left;
    border-top:5px solid #E3E1D5;
    padding:17px 0 0 148px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#0D0D0D
}
.topnav a{
    color:#0D0D0D;
    text-decoration:none;
}
.topnav a:visited{text-decoration:none}
.topnav a:hover{text-decoration:underline}
.topnav select{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#0D0D0D;
    height:18px;
    width:160px;
    margin:0 42px 0 19px;
    float:left;
}
.topnav img{
    float:left;
    margin:0 2px;
}
.topnav span{
    display:block;
    float:left;
    margin:0 10px 0 0
}
#menu{
    display:block;
    float:left;
    margin:53px 0 0 16px;
}
#menu li{
    display:inline;
    list-style-type:none;
}
#menu img{
    float:left;
    margin:0 0 0 1px;
}
#content{
    width:919px;
    overflow:hidden;
    float:left;
    padding:0 0 7px 0;
}
#sidebar{
    width:233px;
    float:left;
    padding:15px 0 0 4px
}
#navigation{
   /* background-color:#92A117;*/
   /* background-image:url(../images/sidebar_bg.jpg);*/
    background-position:top left;
    background-repeat:no-repeat;
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#0D0D0D;
    /*border-bottom:1px solid #fff;*/
    padding-top: 60px;
}
#navigation li{
    list-style-type:none;
    padding:0 0 20px 0;
    line-height:28px;
    width: 134px;
}
#navigation a{
    color:#0D0D0D;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    display:block;
    line-height:28px;
    background-image:url(images/li_bg.jpg);
    background-position:top left;
    background-repeat:no-repeat;
}

#navigation a:hover{

}

#navigation ul li img{
    width: 134px;
    height: 36px;
}

#cart{
    height:38px;
    line-height:16px;
    margin:65px 0 0 0;
    padding:9px 0 0 50px;
    background-image:url(images/cart_bg.jpg);
    background-position:top left;
    background-repeat:no-repeat;
}
.categories{
    border:1px solid #BBBBBB;
    border-top:0px;
    padding:25px 0 25px 18px;
    margin:0 0 1px 0
}
.categories li{
    list-style-type:none;
    background-image:url(images/bullet.gif);
    background-position:top left;
    background-repeat:no-repeat;
    padding:0 0 7px 25px;
    line-height:17px;
    height:18px;
/ height:17px;
    display:block;
}
.categories a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#4B4B4B;
    text-decoration:none;
}
.categories a:visited{text-decoration:none}
.categories a:hover{text-decoration:underline}
.review{
    border:1px solid #BBBBBB;
    border-top:0px;
    padding:28px 0 15px 18px;
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;
}
.review a, .item a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#4B4B4B;
    text-decoration:underline;
    font-weight:bold;
}
.review a:visited, .item a:visited{text-decoration:underline}
.review a:hover, .item a:hover{text-decoration:none}
.review p{
    padding:10px 32px 13px 0;
}
.stars{
    margin:0 0 0 30px;
}
.main{
    width:682px;
    float:left;
    background-color: #99FFCC;
}

.main img{
    background: transparent;
}

#inside{
    padding:15px 0 0 17px;
    float:left
}
.info{
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;
    padding:17px 0 36px 0;
    overflow:hidden;
    float:left;
}
.info img{
    float:left;
    margin:0 22px 0 0
}
.more{
    display:block;
}
.info p{
    width:470px;
    float:left;
    padding:0 0 12px 0
}
#items{
    float:left;
}
.item{
    width:213px;
    border:1px solid #BBBBBB;
    margin:10px 0 0 0;
    float:left;
}
.item p{
    display:block;
    line-height:23px;
    background-color:#F4F8EE;
    padding:0 0 0 10px;
    float:left;
    width:149px;
}
.price{
    display:block;
    width:54px;
    float:left;
    background-color:#3792AE;
    text-align:center;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-weight:bold;
    line-height:23px;
}
.center{
    margin:10px 10px 0 10px;
}
#footer{
    height: 170px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: bold;
    color:#0D0D0D;
    padding:0 0 25px 0
}
#footer ul{
    padding:27px 0 13px 0
}
#footer li{
    display:inline;
    list-style-type:none;
}
#footer ul a{
    color:#0D0D0D;
    text-decoration:none;
    margin:0 12px;
}
#footer ul a:visited{text-decoration:none}
#footer ul a:hover{text-decoration:underline}
.bft{
    color:#3792AE;
    text-decoration:underline
}
.bft:visited{text-decoration:underline}
.bft:hover{text-decoration:none}


.header {
    display: inline-block;
    background-color: #99FFCC;
    width: 560px;
    height: 120px;
    padding-left: 40px;
}


.header h1{
    font-family: Segoe Script;
    font-size: 38px;
    color: #f27813;
    padding-left: px;
    padding-top: px;
}

.header h2{
    font-family: AR DELANEY;
    font-size: 50px;
    color: #f27813;
    padding-left: 180px;
}

.row {
    clear: both;
}

.column1 {
    float:left;
    padding: 30px 0 30px 30px;
}

.column2 {
    float:right;
    width: 600px;
    padding: 15px 30px 20px 0;
}

.row1_right{
    width: 600px;
}

.row2_right{
    padding-top: 20px;
}

.main_text{
    clear: both;
    padding: 0px 30px 0px 30px;
}

.main_text p{
    font-family: Arial;
    font-size: 14px;
    color: #575758;
    line-height: 20px;
    padding-top: 10px;
}

.main_text img {
    padding-top: 30px;
}

.content_images img{
    padding-right: 20px;
    padding-top: 30px;
}

.all_headers{
    font-family: Arial;
    font-size: 32px;
    color: #575758;
    padding: 30px 0 0 30px;
}

.examples{
    padding: 0 30px;
    display: inline-block;
}

.left{
    float:left;
    margin-right: 5px;
    width: 280px;
}

.center{
    float:left;
    margin: 0 14px 0 0;
    width: 280px;
}

.right{
    float: left;
    width: 280px;
}

.examples h2{
    font-family: Arial;
    font-size: 16px;
    color: #575758;
}

h3{
    font-family: Arial;
    font-size: 12px;
    color: #575758;
}

.left h2{
    padding: 0 0 3px 80px;
}

.center h2{
    padding: 0 0 3px 80px;
}

.right h2{
    padding: 0 0 3px 130px;
}

.left h3{
    padding: 0 0 3px 100px;
}

.center h3{
    padding: 0 0 3px 60px;
}

.right h3{
    padding: 0 0 3px 80px;
}

.material{
    width: 240px;
    height: 140px;
    margin: 10px 0 0 20px;
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
}

.material_text{
    width: 180px;
    font-family: Arial;
    font-size: 12px;
    color: #575758;
    font-style: italic;
    padding: 10px 0 0 30px;
    position: relative;
}

.care{
    padding: 30px 40px 30px 30px;
}

h2{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #575758;
    padding-top: 20px;
}

.care p{
    font-family: Arial;
    font-size: 14px;
    color: #575758;
    line-height: 20px;
    padding-top: 10px;
}

.soc-ico{
    padding: 0 0 30px 30px;
}

/*FORM*/

fieldset {
    border: none;
}

#feedbackForm input, #feedbackForm textarea{
    background:#f3f2e9;
    border:none;
    padding:5px 20px;
    font:italic 14px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
    width:370px;
    margin-top: 20px;
}

#feedbackForm textarea{
    height:165px;
}

#feedbackForm .name{
    margin-right:24px;
}

#feedbackForm input{
    width:153px;
}

#feedbackForm label{
    float:left;
    margin-bottom:20px;
    position:relative;
}

#feedbackForm .error, #feedbackForm .empty{
    display:none;
    position:absolute;
    top:100%;
    font:11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #575758;
}

#feedbackForm .btns{
    width:100%;
    display:block;
    position:relative;
    overflow:hidden;
    height:20px;
}

#feedbackForm .btns .reset{
    position:absolute;
    left:280px;
    /*left:343px;*/
    z-index:10;
}

#feedbackForm .btns .submit{
    position:absolute;
    left:330px;
    /*left:405px;*/
    z-index:10;
}

#feedbackForm .success {
    display: none;
}




.contacts{
    width: 350px;
    float: left;
    padding-left: 30px;
}

.del{
    font-family: Arial;
    font-size: 14px;
    color: #575758;
    padding-top: 10px;
}

.form{
    width: 450px;
    float: right;
}

.form h1{
    font-family: Arial;
    font-size: 32px;
    color: #575758;
    padding: 30px 0 0 30px;
}

.phone{
    font-family: Arial;
    font-size: 16px; !important;
    color: #575758;
    padding-top: 10px;
}

.youtube{
    padding: 0 0 60px 30px;
}

.diapers{
    display: inline-block;
    width: 859px;
}

.diapers img{
    float: left;
    padding: 30px 60px 30px 0;
}

.add_text{

}

.box{
    width: 180px;
    float:left;
    padding-right: 30px;
    text-align: center;
    font-weight: bold !important;
}


.boxText p{
    width: 180px;
    text-align: center;
}

.status{
    width: 100px !important;
    height: 25px;
    background-color: #95b3d7;
    border: solid 2px #385d8a;
    font-weight: normal !important;
    padding-top: 5px !important;
    margin-left: 40px;
}
